<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stefano.myecotracker"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/EcoTheme" >
        <activity
            android:name="com.example.stefano.myecotracker.ReportActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.stefano.myecotracker.RecordEditActivity"
            android:label="@string/title_activity_newreg" >
        </activity>
        <activity
            android:name="com.example.stefano.myecotracker.AccountEditActivity"
            android:label="@string/title_activity_new_account" >
        </activity>
        <activity
            android:name="com.example.stefano.myecotracker.AccountListActivity"
            android:label="@string/title_activity_account_list" >
        </activity>
        <activity
            android:name="com.example.stefano.myecotracker.EntityListActivity"
            android:label="@string/title_activity_entity_list" >
        </activity>
        <activity
            android:name="com.example.stefano.myecotracker.EntityEditActivity"
            android:label="@string/title_activity_entity_edit" >
        </activity>
        <activity
            android:name="com.example.stefano.myecotracker.RecordListActivity"
            android:label="@string/title_activity_record_list" >
        </activity>
        <activity
            android:name="com.example.stefano.myecotracker.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
    </application>

</manifest>
